<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GC: Main page</title>
    <style>
        body {
            font: 30px arial;
            color: #222222;
            padding: 20px;
            text-align: center;
        }
        hr {
            margin: 20px 0;
	        padding: 0;
	        height: 0;
	        border: none;
	        border-top: 2px dotted #555;
        }
    </style>
</head>
<body>
    <h1>General Contractor</h1>
    <h2>Steps</h2>
    <hr />
    <p>
        1.
        <a href="/gc/upload">Upload the Prequal Form template</a>
    </p>
    <p>
        2. Prequal Form template preview
    </p>
    <p>
        3. Sending the invitations
    </p>
    <p>
        4. Checking the result
    </p>
</body>
</html>