<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">
  <link href="main.css" rel="stylesheet">
  <title>Prequal Form Preview</title>
  <style>a{padding: 4px;}</style>
</head>
<body>
<div id="app"></div>
<script src="./public/bundle.js"></script>
</body>
</html>

<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GC: Main page</title>
    <style>
        body {
            font: 30px arial;
            color: #222222;
            padding: 20px;
            text-align: center;
        }
        hr {
            margin: 20px 0;
	        padding: 0;
	        height: 0;
	        border: none;
	        border-top: 2px dotted #555;
        }
    </style>
</head>
<body>
    <h1>General Contractor</h1>
    <p>1. Select the Prequal Form template</p>
    <h2>1. Upload the Prequal Form template</h2>
    <hr />
    <!-- action="upload_pft"-->
    <form
        method="post"

        enctype="multipart/form-data"

    >
        {% csrf_token %}

        <input
            type="file"
            name="pft"
            onChange="enable_submit()"
            style="padding: 10px 20px 8px 20px; background-color: #ccc; border:0; border-radius: 10px; text-align:center;"
        />
        <p style="font: 14px arial; padding: 0px 0 0 0"></p>
        <label for=""comment" style="font: 14px arial;">Comment</label><br />
        <input type="text" name="comment" style="padding: 5px 10px 4px 10px; width:270px;">
        <p style="font: 14px arial; color: {{color}}; padding: 0px 0 0 0"><b>{{result}}</b></p>
        <input
            type="submit"
            id="submit"
            value="Upload"
            style="padding: 10px 20px 8px 20px; color: white; background-color: #ccc; border:0; border-radius: 10px"
            disabled
        />
        <button
            style="padding: 10px 20px 8px 20px; color: white; background-color: #2480EB; border:0; border-radius: 10px"
        >
            Quit
        </button>
    </form>
    <hr />
    <p>
        2. Prequal Form template preview
    </p>
    <p>
        3. Sending the invitations
    </p>
    <p>
        4. Checking the result
    </p>
</body>
<script>
    function enable_submit() {
        console.log(1)
        let el = document.getElementById('submit')
        console.log(el)
        el.disabled=false
        el.style['background-color']='#2480EB'
    }
</script>
</html>
-->