<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <style>
        body {
            font: 30px arial;
            color: #222222;
            padding: 20px;
            text-align: center;
        }
        hr {
            margin: 20px 0;
	        padding: 0;
	        height: 0;
	        border: none;
	        border-top: 2px dotted #555;
        }
    </style>
</head>
<body>
    <h1>Choose your role</h1>
    <hr />
    <p><a href="/gc/index">General Contractor</a></p>
    <p><a href="/sub/index">Subcontractor</a></p>
</body>
</html>